#topic-form {
    width: 100%;
}

#topic-form > .col-sm-6 {
    float: left;
}

.input-group-prepend, .input-group-text{
    min-width: 100%;
}

.form-check-label {
    font-size: 1.3em;
}

.btn-practice {
    margin-left: 15px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #925959;
}
input[type='checkbox']:checked {
    background: #6b4242;
}